<center>
<p id="notice"><%= notice %></p>

<div class="card" style="width: 18rem;"> 
  <% if @draw.image.attached? %>
    <img src="<%=(url_for(@draw.image))%>" class="card-img-top" alt="...">
  <% end %>
  <div class="card-body">
    <h5 class="card-title">First Name</h5> 
    <p class="card-text"><%= @draw.artist.first_name %></p>
     <h5 class="card-title">Last Name</h5>
    <p class="card-text"><%= @draw.artist.last_name %></p>
     <h5 class="card-title">Age</h5>
    <p class="card-text"><%= @draw.artist.age %></p>
     <h5 class="card-title">Country</h5>
    <p class="card-text"><%= @draw.artist.country %></p>
    <%= link_to 'Show', @draw, class:"gray-color" %> |
    <%= link_to 'Edit', edit_draw_path(@draw), class:"gray-color" %> |
    <%= link_to 'Delete', @draw, method: :delete, data: { confirm: 'Are you sure?' }, class:"gray-color" %>
  </div>
</div>  


<%= link_to 'Edit', edit_draw_path(@draw), class:"white-color" %> |
<%= link_to 'Back', draws_path, class:"white-color" %> 

</center> 
<br> 