<!DOCTYPE html>
<html>
  <head>
    <title>MandelaArt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app-body"> 
  <div id="page-container">
  <div id="content-wrap"> 
<header class="head"> 
   <% if artist_signed_in?%> 
     <h2> Welcome <%= current_artist.first_name%></h2>
     <%
=begin%>
 <%if welcome_path? %>   
<%
=end%>
     <%= link_to  "Hmoe Page", welcome_path %> | 

     <%= link_to  "Change Password", edit_artist_registration_path %> |
      <%= link_to  "Sign Out", destroy_artist_session_path, method: :delete%> 
     
     <%else %>  
      <%= link_to  "Sign Up", new_artist_registration_path %>| 
      <%= link_to  "Sign In", new_artist_session_path %> 
      <%end%> 
      <div >
      <p class="notice no-space"><%= notice %></p>
     <p class="alert no-space"><%= alert %></p> 
     </div>
  </header>

    <%= yield %>
    
   
     <footer> 
      <p class="madeBy">  Made By Huda Binzaqr</p>
       <p> © 2019 Mandela Art, KSA</p>
   </footer>  
   </div>
    </div> 
  </body>
  
</html>
